@font-face 
    font-family: "Oswald"
    src: url("../fonts/Oswald/Oswald-Light.ttf") format("truetype")
    font-weight: normal
@font-face 
    font-family: "VT323"
    src: url("../fonts/VT323/VT323-Regular.ttf") format("truetype")
    font-weight: normal
@font-face 
    font-family: "Oswald-Bold"
    src: url("../fonts/Oswald/Oswald-Bold.ttf") format("truetype")
    font-weight: bold
    
$mainFont:'Oswald',sans-serif
$mainFontBold:'Oswald-Bold',sans-serif
$secondFont:'VT323', sans-serif
$green: rgba(173, 255, 0, 1)
$white: rgba(241, 250, 238, 1)
$shadowDek: drop-shadow(8px -6px 0px #ADFF00)
$shadowMob: drop-shadow(4px -2px 0px #ADFF00)

body
    background-color: rgba(36, 36, 36, 1)
h1
    font-family: $secondFont
    color: $green
    font-size: 48px
    font-weight: normal
    margin: 0
    @media (max-width: 1170px)
        font-size: 40px
    @media (max-width: 500px)
        font-size: 28px
h2,h3,h4
    font-family: $mainFont
    color: $green
    font-weight: normal
.generall_page_wrapper
    display: flex
    flex-direction: column
    align-items: center

.main
    max-width: 1172px
    width: 100%
    display: grid
    grid-template-columns: repeat(3,1fr)
    grid-template-rows: 60px 40px 600px 62px
    gap: 3vh 2.75% 
    margin-bottom: 5vh
    @media (max-width: 500px)
        row-gap: 20px
        grid-template-rows: 8vh 63vh 60px
    &_title
        grid-row: 1/2
        grid-column: 2/3
        justify-self: center
        align-self: center
        @media (max-width: 500px)
            grid-column: 1/3
            justify-self: start
    &_menu
        list-style: none
        display: flex
        justify-content: space-around
        flex-direction: row
        align-self: center
        grid-row: 2/3
        grid-column: 1/4
        margin: 0
        @media (max-width: 500px)
            display: none
        li
            font-family: $secondFont
            color: $green
            font-size: 30px
            @media (max-width: 1170px)
                font-size: 24px
            @media (max-width: 740px)
                font-size: 20px
            &:hover
                cursor: pointer
        &_button
            display: none
            @media (max-width: 500px)
                grid-column: 3/4
                grid-row: 1/2
                justify-self: flex-end
                align-self: center
                widows: 32px
                height: 18px
                display: flex
                flex-direction: column
                justify-content: space-between
                span
                    width: 32px
                    height: 4px
                    background: $green
    &_page
        grid-column: 1/4
        grid-row: 3/4
        position: relative
        @media (max-width: 500px)
            grid-row: 2/3
        &_pic
            display: flex
            height: 100%
            justify-content: space-between
            div
                width: 360px
                @media (max-width: 1200px)
                    height: 100%
                    width: 30vw
            .swimming
                background: no-repeat url(../pic/swimming.png)
                background-size: cover
                @media (max-width: 500px)
                    background-position-x: -70px
            .cycling
                background: no-repeat url(../pic/cycling.png)
                background-size: cover
                background-position: center 
                box-shadow: $shadowDek
                @media (max-width: 1170px)
                    box-shadow: 6px -6px 0px 0px $green
                @media (max-width: 500px)
                    box-shadow: 4px -4px 0px 0px $green
            .running
                background: no-repeat url(../pic/running.png)
                background-size: cover
                background-position: center
                @media (max-width: 500px)
                    background-position-x: -130px

        &_slogan
            position: absolute
            top: 60%
            left: 0
            right: 0
            text-align: center
            font-size: 48px
            @media (max-width: 1000px)
                font-size: 30px
            @media (max-width: 500px)
                font-size: 18px
                top: 50%
            &_wrapper
                background: rgba(36, 36, 36, 1)
                height: fit-content
                margin: 0 auto
                width: 700px
                @media (max-width: 1000px)
                    width: 450px
                @media (max-width: 500px)
                    width: 80%
                h2
                    padding: 2%
                    margin: 0
    &_button
        grid-column: 2/3
        grid-row: 4/5
        height: 62px
        background: $green
        border: none
        font-size: 30px
        font-family: $mainFont
        padding: 2%
        height: 100%
        @media (max-width: 1170px)
            font-size: 24px
        @media (max-width: 740px)
            font-size: 24px
            grid-column: 1/4
            width: 80%
            justify-self: center
        @media (max-width: 500px)
            grid-row: 3/4
            height: 50.5px
.section
    max-width: 1172px
    width: 100%
    display: grid
    grid-template-columns: 7% repeat(3,1fr) 7%
    gap: 0 1.2% 
    margin-bottom: 10px
    @media (max-width:769px) 
        grid-template-columns: 7% repeat(2,1fr) 7%
        gap: 0 3%
    @media (max-width:474px)
        grid-template-columns: 1fr
        gap: 0

.asside
    display: flex
    flex-direction: column
    align-items: center
    color: $green
    font-family: $secondFont
    font-size: 48px
    grid-column: 1/2
    grid-row: 1/6
    @media (max-width:474px)
        grid-column: 1/2
        grid-row: 1/2
        flex-direction: row
        justify-content: center
    div
        height: 110px
        rotate: 270deg
        transform-origin: 55px 40px
        @media (max-width:474px)
            rotate: none
            height: auto
    span
        margin: 15px 0 0 0
        height: 100%
        width: 1px
        background: $green
        @media (max-width:474px)
            width: 100%
            height: 1px
            margin: 0 10px
        &:first-child
            @media (min-width:475px)
                display: none
        
.about
    grid-template-rows: auto
    margin-bottom: 30px
    @media (max-width:474px)
        justify-content: center          
    &_question_one
        grid-column: 2/3
        grid-row: 1/3
        align-self: flex-start
        display: flex
        flex-direction: column
        @media (max-width:769px)
            grid-column: 2/3
            grid-row: 1/2
            height: 100%
            justify-content: space-between
        @media (max-width:474px)
            grid-column: 1/2
            grid-row: 2/3
            margin-bottom: 10px
    &_question_two
        grid-column: 3/4
        grid-row: 4/5
        align-self: flex-start
        @media (max-width:769px)
            grid-column: 2/3
            grid-row: 2/3
        @media (max-width:474px)
            grid-column: 1/2
            grid-row: 4/5
    &_question_three
        grid-column: 4/5
        grid-row: 1/2
        align-self: flex-start
        @media (max-width:769px)
            grid-column: 3/4
            grid-row: 2/3
        @media (max-width:474px)
            grid-column: 1/2
            grid-row: 5/6
    &_question_four
        grid-column: 4/5
        grid-row: 2/4
        align-self: flex-start
        @media (max-width:769px)
            grid-column: 3/4
            grid-row: 3/4
        @media (max-width:474px)
            grid-column: 1/2
            grid-row: 7/8
    &_question_five
        grid-column: 4/5
        grid-row: 4/5
        align-self: flex-start
        @media (max-width:769px)
            grid-column: 3/4
            grid-row: 4/5
        @media (max-width:474px)
            grid-column: 1/2
            grid-row: 8/9
    &_phones
        grid-column: 2/3
        grid-row: 3/5
        display: flex
        overflow: hidden
        width: 100%
        position: relative
        align-items: flex-end
        @media (max-width:474px)
            grid-column: 1/2
            grid-row: 6/7
            width: 80%
            justify-self: center
            height: 200px
            align-items: flex-start
        img
            &:first-child
                margin: 0 0 5% 6%
                @media (max-width:769px)
                    margin-left: 6%
                @media (max-width:474px)
                    margin: 3px 0 0 0
            &:last-child
                filter: $shadowDek
                position: absolute
                z-index: -1
                right: 5%
                top: 5%
                @media (max-width:890px)
                    filter: $shadowMob
                @media (max-width:474px)
                    top: 3px
                    right: 4px
    &_macBook
        grid-column: 3/4
        grid-row: 1/4
        width: 100%
        height: 100%
        display: flex
        overflow: hidden
        @media (max-width:769px)
            grid-column: 3/4
            grid-row: 1/2
        @media (max-width:474px)
            grid-column: 1/2
            grid-row: 3/4
        img
            filter: $shadowDek
            height: calc( 100% - 6px )
            align-self: flex-end
            @media (max-width:769px)
                filter: $shadowMob
                height: calc( 100% - 4px )
                margin-top: 3px 
    &_gym
        background: no-repeat url('../pic/gym.png')
        background-size: cover
        background-position: center
        grid-column: 2/5
        grid-row: 5/6
        display: flex
        filter: $shadowDek
        margin-top: 10px
        width: calc( 100% - 8px )
        justify-content: center
        align-items: center
        height: 200px
        @media (max-width:769px)
            grid-column: 2/4
            filter: $shadowMob
            width: calc( 100% - 4px )
        @media (max-width:474px)
            grid-column: 1/2
            grid-row: 9/10
            height: 220px
        &_background
            background: rgba(36, 36, 36, 0.60)
            width: 85%
            height: fit-content
            justify-content: center
            display: flex
        &_text
            font-size: 20px
            text-align: center
            width: 95%
            @media (max-width:474px)
                margin: 2px
    svg
        display: none
        @media (max-width: 769px)
            display: block
            margin-bottom: 5%
        @media (max-width: 524px)
            display: none
    ul
        margin:0 0 5% 0
    li,p
        font-family: $mainFont
        color: $white
        font-size: 20px
        line-height: normal
        margin: 0
        @media (max-width: 1100px)
            font-size: 18px
    h3
        text-align: center
        font-size: 24px
        margin: 5% 0
        @media (max-width:505px)
            font-size: 20px
.coach
    grid-template-rows: repeat(3, auto) 200px
    position: relative
    @media (max-width:769px)
        grid-template-rows: auto
    &_asside
        @media (max-width:474px)
            grid-column: 1/2
    article,p
        font-family: $mainFont
        color: $white
        font-size: 20px
        line-height: normal
        margin: 0
        @media (max-width: 1096px)
            font-size: 18px
    article
        margin: 5% 0 5% 2%
    &_photo
        grid-column: 2/3
        grid-row: 1/4
        position: relative
        overflow: hidden
        @media (max-width:569px)
            grid-row: 1/3
        @media (max-width:474px)
            grid-column: 1/2
            grid-row: 3/4
            height: 600px
        &_background
            filter: $shadowDek
            position: relative
            top: 6px
            width: 100%
        &_face
            position: absolute
            width: 101%
            height: 100%
            left: 0
            top: 0
            background: no-repeat url(../pic/coach.png) top center
            background-size: cover
    h2
        grid-column: 3/5
        grid-row: 1/2
        justify-self: flex-start
        margin-left: 1%
        @media (max-width:474px)
            justify-self: center
            grid-column: 1/2
            grid-row: 2/3
    &_first
        grid-column: 3/4
        grid-row: 2/3
        height: 100%
        @media (max-width:474px)
            grid-column: 1/2
            grid-row: 5/6
    &_second
        grid-column: 3/4
        grid-row: 3/4
        @media (max-width:474px)
            grid-column: 1/2
            grid-row: 6/7
    &_third
        grid-column: 4/5
        grid-row: 2/3
        @media (max-width:769px)
            grid-column: 3/4
            grid-row: 4/5
        @media (max-width:569px)
            grid-column: 2/3
            grid-row: 3/4
        @media (max-width:474px)
            grid-column: 1/2
            grid-row: 7/8
    &_logo
        grid-column: 4/5
        grid-row: 3/4
        display: flex
        height: 50%
        align-self: center
        flex-direction: column
        justify-content: space-between
        @media (max-width:769px)
            height: 80px
            grid-column: 2/3
            grid-row: 4/5
        @media (max-width:569px)
            grid-row: 2/3
            position: absolute
            width: 37vw
            height: 30px
            left: 1.5vw
            top: 190px
            h1
                display: none
        @media (max-width:474px)
            grid-column: 1/2
            left: 0
            top: 500px
            grid-row: 3/4
            width: 100%
            height: 60px
            justify-content: center
    &_statistics
        grid-column: 2/5
        grid-row: 4/5
        display: grid
        grid-template-columns: repeat(3,1fr)
        column-gap: 5px
        align-items: flex-start
        @media (max-width:769px)
            grid-column: 2/4
            grid-row: 5/6
        div
            text-align: center
        @media (max-width:569px)
            grid-row: 4/5
        @media (max-width:474px)
            grid-column: 1/2
            grid-row: 8/9
    &_number
        font-size: 128px
        font-family: $mainFontBold
        color: $green
        @media (max-width:769px)
            font-size: 90px
.social
    display: flex
    justify-content: space-evenly