@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-Light.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "VT323";
  src: url("../fonts/VT323/VT323-Regular.ttf") format("truetype");
  font-weight: normal;
}
body {
  background-color: rgb(36, 36, 36);
}

h1 {
  font-family: "VT323", sans-serif;
  color: rgb(173, 255, 0);
  font-size: 48px;
  font-weight: normal;
  margin: 0;
}
@media (max-width: 1170px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 28px;
  }
}

h2, h3, h4 {
  font-family: "Oswald", sans-serif;
  color: rgb(173, 255, 0);
  font-weight: normal;
}

.generall_page_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  max-width: 1172px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 40px 600px 62px;
  gap: 3vh 2.75%;
  margin-bottom: 5vh;
}
@media (max-width: 500px) {
  .main {
    row-gap: 20px;
    grid-template-rows: 8vh 63vh 60px;
  }
}
.main_title {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
}
@media (max-width: 500px) {
  .main_title {
    grid-column: 1/3;
    justify-self: start;
  }
}
.main_menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  align-self: center;
  grid-row: 2/3;
  grid-column: 1/4;
  margin: 0;
}
@media (max-width: 500px) {
  .main_menu {
    display: none;
  }
}
.main_menu li {
  font-family: "VT323", sans-serif;
  color: rgb(173, 255, 0);
  font-size: 30px;
}
@media (max-width: 1170px) {
  .main_menu li {
    font-size: 24px;
  }
}
@media (max-width: 740px) {
  .main_menu li {
    font-size: 20px;
  }
}
.main_menu li:hover {
  cursor: pointer;
}
.main_menu_button {
  display: none;
}
@media (max-width: 500px) {
  .main_menu_button {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: flex-end;
    align-self: center;
    widows: 32px;
    height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main_menu_button span {
    width: 32px;
    height: 4px;
    background: rgb(173, 255, 0);
  }
}
.main_page {
  grid-column: 1/4;
  grid-row: 3/4;
  position: relative;
}
@media (max-width: 500px) {
  .main_page {
    grid-row: 2/3;
  }
}
.main_page_pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main_page_pic div {
  width: 360px;
}
@media (max-width: 1200px) {
  .main_page_pic div {
    height: 100%;
    width: 30vw;
  }
}
.main_page_pic .swimming {
  background: no-repeat url(../pic/swimming.png);
  background-size: cover;
}
@media (max-width: 500px) {
  .main_page_pic .swimming {
    background-position-x: -70px;
  }
}
.main_page_pic .cycling {
  background: no-repeat url(../pic/cycling.png);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 8px -6px 0px 0px rgb(173, 255, 0);
          box-shadow: 8px -6px 0px 0px rgb(173, 255, 0);
}
@media (max-width: 1170px) {
  .main_page_pic .cycling {
    -webkit-box-shadow: 6px -6px 0px 0px rgb(173, 255, 0);
            box-shadow: 6px -6px 0px 0px rgb(173, 255, 0);
  }
}
@media (max-width: 500px) {
  .main_page_pic .cycling {
    -webkit-box-shadow: 4px -4px 0px 0px rgb(173, 255, 0);
            box-shadow: 4px -4px 0px 0px rgb(173, 255, 0);
  }
}
.main_page_pic .running {
  background: no-repeat url(../pic/running.png);
  background-size: cover;
  background-position: center;
}
@media (max-width: 500px) {
  .main_page_pic .running {
    background-position-x: -130px;
  }
}
.main_page_slogan {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 48px;
}
@media (max-width: 1000px) {
  .main_page_slogan {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .main_page_slogan {
    font-size: 18px;
    top: 50%;
  }
}
.main_page_slogan_wrapper {
  background: rgb(36, 36, 36);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  width: 700px;
}
@media (max-width: 1000px) {
  .main_page_slogan_wrapper {
    width: 450px;
  }
}
@media (max-width: 500px) {
  .main_page_slogan_wrapper {
    width: 80%;
  }
}
.main_page_slogan_wrapper h2 {
  padding: 2%;
  margin: 0;
}
.main_button {
  grid-column: 2/3;
  grid-row: 4/5;
  height: 62px;
  background: rgb(173, 255, 0);
  border: none;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  padding: 2%;
  height: 100%;
}
@media (max-width: 1170px) {
  .main_button {
    font-size: 24px;
  }
}
@media (max-width: 740px) {
  .main_button {
    font-size: 24px;
    grid-column: 1/4;
    width: 80%;
    justify-self: center;
  }
}
@media (max-width: 500px) {
  .main_button {
    grid-row: 3/4;
    height: 50.5px;
  }
}

.about {
  max-width: 1172px;
  width: 100%;
  display: grid;
  grid-template-columns: 7% repeat(3, 1fr) 7%;
  grid-template-rows: repeat(12, 65px);
  gap: 15px 1.2%;
}
@media (max-width: 916px) {
  .about {
    grid-template-rows: repeat(13, 65px);
    gap: 20px 1.2%;
  }
}
@media (max-width: 769px) {
  .about {
    grid-template-columns: 7% repeat(2, 1fr) 7%;
    grid-template-rows: repeat(14, 60px) 80px;
    gap: 20px 3%;
  }
}
@media (max-width: 666px) {
  .about {
    gap: 30px 3%;
  }
}
@media (max-width: 474px) {
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: 70px 217px 250px 180px 180px 200px 130px 150px 220px;
    gap: 15px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.about_asside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(173, 255, 0);
  font-family: "VT323", sans-serif;
  font-size: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column: 1/2;
  grid-row: 1/9;
  -webkit-transform-origin: 36px 33px;
          transform-origin: 36px 33px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media (max-width: 474px) {
  .about_asside {
    -webkit-transform: none;
            transform: none;
    grid-column: 1/2;
    grid-row: 1/2;
    height: auto;
    justify-self: center;
  }
}
.about_asside div {
  height: 70px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 474px) {
  .about_asside div {
    -webkit-transform: none;
            transform: none;
    height: auto;
    position: relative;
  }
}
.about_asside span {
  width: 780px;
  height: 1px;
  background: rgb(173, 255, 0);
  text-align: center;
  margin-right: 16px;
}
@media (max-width: 916px) {
  .about_asside span {
    width: 918px;
  }
}
@media (max-width: 769px) {
  .about_asside span {
    width: 1050px;
  }
}
@media (max-width: 666px) {
  .about_asside span {
    width: 1079px;
  }
}
@media (max-width: 648px) {
  .about_asside span {
    width: 1186px;
  }
}
@media (max-width: 505px) {
  .about_asside span {
    width: 1080px;
  }
}
@media (max-width: 474px) {
  .about_asside span {
    width: 80px;
  }
}
@media (min-width: 475px) {
  .about_asside span:first-child {
    display: none;
  }
}
.about_asside span:last-child {
  margin-right: 0;
  margin-left: 16px;
}
.about_question_one {
  grid-column: 2/3;
  grid-row: 1/5;
  align-self: flex-start;
}
@media (max-width: 769px) {
  .about_question_one {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
@media (max-width: 474px) {
  .about_question_one {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.about_question_two {
  grid-column: 3/4;
  grid-row: 5/9;
  align-self: flex-start;
}
@media (max-width: 769px) {
  .about_question_two {
    grid-column: 2/3;
    grid-row: 5/8;
  }
}
@media (max-width: 587px) {
  .about_question_two {
    grid-row: 6/9;
  }
}
@media (max-width: 474px) {
  .about_question_two {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
.about_question_three {
  grid-column: 4/5;
  grid-row: 1/4;
  align-self: flex-start;
}
@media (max-width: 769px) {
  .about_question_three {
    grid-column: 3/4;
    grid-row: 4/7;
  }
}
@media (max-width: 505px) {
  .about_question_three {
    grid-row: 3/7;
  }
}
@media (max-width: 474px) {
  .about_question_three {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
.about_question_four {
  grid-column: 4/5;
  grid-row: 4/6;
  align-self: flex-start;
}
@media (max-width: 769px) {
  .about_question_four {
    grid-column: 3/4;
    grid-row: 7/10;
  }
}
@media (max-width: 505px) {
  .about_question_four {
    grid-row: 6/9;
  }
}
@media (max-width: 474px) {
  .about_question_four {
    grid-column: 1/2;
    grid-row: 7/8;
  }
}
.about_question_five {
  grid-column: 4/5;
  grid-row: 6/8;
  align-self: flex-start;
}
@media (max-width: 916px) {
  .about_question_five {
    grid-row: 7/9;
  }
}
@media (max-width: 769px) {
  .about_question_five {
    grid-column: 3/4;
    grid-row: 9/11;
  }
}
@media (max-width: 648px) {
  .about_question_five {
    grid-row: 10/12;
  }
}
@media (max-width: 505px) {
  .about_question_five {
    grid-row: 9/12;
  }
}
@media (max-width: 474px) {
  .about_question_five {
    grid-column: 1/2;
    grid-row: 8/9;
  }
}
.about_phones {
  grid-column: 2/3;
  grid-row: 5/9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  position: relative;
  justify-self: center;
}
@media (max-width: 769px) {
  .about_phones {
    grid-column: 2/3;
    grid-row: 9/13;
  }
}
@media (max-width: 666px) {
  .about_phones {
    grid-row: 8/12;
  }
}
@media (max-width: 587px) {
  .about_phones {
    grid-row: 10/13;
  }
}
@media (max-width: 505px) {
  .about_phones {
    grid-row: 10/12;
    width: 80%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 474px) {
  .about_phones {
    width: 62%;
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
.about_phones img {
  height: calc(100% - 26px);
}
@media (max-width: 505px) {
  .about_phones img {
    height: 180px;
  }
}
@media (max-width: 474px) {
  .about_phones img {
    height: 250px;
  }
}
.about_phones img:first-child {
  margin-left: 6%;
}
@media (max-width: 505px) {
  .about_phones img:first-child {
    margin: 20px 0 0;
  }
}
.about_phones img:last-child {
  -webkit-filter: drop-shadow(8px -6px 0px #ADFF00);
          filter: drop-shadow(8px -6px 0px #ADFF00);
  position: absolute;
  z-index: -1;
  right: 6%;
  top: 6px;
}
@media (max-width: 587px) {
  .about_phones img:last-child {
    -webkit-filter: drop-shadow(4px -2px 0px #ADFF00);
            filter: drop-shadow(4px -2px 0px #ADFF00);
  }
}
.about_macBook {
  grid-column: 3/4;
  grid-row: 1/5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
@media (max-width: 769px) {
  .about_macBook {
    grid-column: 3/4;
    grid-row: 1/4;
  }
}
@media (max-width: 505px) {
  .about_macBook {
    grid-row: 1/3;
  }
}
@media (max-width: 474px) {
  .about_macBook {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
.about_macBook img {
  -webkit-filter: drop-shadow(8px -6px 0px #ADFF00);
          filter: drop-shadow(8px -6px 0px #ADFF00);
  height: calc(100% - 6px);
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: 505px) {
  .about_macBook img {
    -webkit-filter: drop-shadow(4px -2px 0px #ADFF00);
            filter: drop-shadow(4px -2px 0px #ADFF00);
  }
}
.about_gym {
  background: no-repeat url("../pic/gym.png");
  background-size: cover;
  background-position: center;
  grid-column: 2/5;
  grid-row: 9/13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: drop-shadow(8px -6px 0px #ADFF00);
          filter: drop-shadow(8px -6px 0px #ADFF00);
  margin-top: 6px;
  height: 80%;
  width: calc(100% - 8px);
  align-self: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 916px) {
  .about_gym {
    grid-row: 10/14;
  }
}
@media (max-width: 769px) {
  .about_gym {
    grid-column: 2/4;
    grid-row: 13/16;
  }
}
@media (max-width: 666px) {
  .about_gym {
    grid-row: 12/15;
  }
}
@media (max-width: 648px) {
  .about_gym {
    grid-row: 13/16;
  }
}
@media (max-width: 505px) {
  .about_gym {
    grid-row: 12/15;
    -webkit-filter: drop-shadow(4px -2px 0px #ADFF00);
            filter: drop-shadow(4px -2px 0px #ADFF00);
  }
}
@media (max-width: 474px) {
  .about_gym {
    grid-column: 1/2;
    grid-row: 9/10;
  }
}
.about_gym_background {
  background: rgba(36, 36, 36, 0.6);
  /* backdrop-filter: blur(1px) */
  width: 85%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about_gym_text {
  font-size: 20px;
  text-align: center;
  width: 95%;
}
@media (max-width: 474px) {
  .about_gym_text {
    margin: 2px;
  }
}
.about svg {
  visibility: hidden;
  grid-column: 3/4;
  grid-row: 8/9;
  justify-self: center;
  align-self: flex-end;
  padding-bottom: 3px;
}
@media (max-width: 1100px) {
  .about svg {
    visibility: visible;
  }
}
@media (max-width: 916px) {
  .about svg {
    grid-row: 9/10;
    grid-column: 2/4;
  }
}
@media (max-width: 769px) {
  .about svg {
    grid-row: 12/13;
    grid-column: 3/4;
  }
}
@media (max-width: 666px) {
  .about svg {
    visibility: hidden;
  }
}
@media (max-width: 648px) {
  .about svg {
    visibility: visible;
    grid-row: 12/13;
    grid-column: 2/3;
  }
}
@media (max-width: 587px) {
  .about svg {
    display: none;
  }
}
.about ul {
  margin: 0;
}
.about li, .about p {
  font-family: "Oswald", sans-serif;
  color: rgb(241, 250, 238);
  font-size: 20px;
  line-height: normal;
  margin: 0;
}
@media (max-width: 1100px) {
  .about li, .about p {
    font-size: 17px;
  }
}
@media (max-width: 916px) {
  .about p {
    margin-left: 2%;
  }
}
@media (max-width: 769px) {
  .about p {
    margin-left: 35px;
  }
}
.about h3 {
  text-align: center;
  font-size: 24px;
  margin: 0 0 16px 0;
}
@media (max-width: 505px) {
  .about h3 {
    font-size: 20px;
    margin: 0 0 12px 0;
  }
}/*# sourceMappingURL=App.css.map */