$mainFont:'Oswald',sans-serif
$mainFontBold:'Oswald-Bold',sans-serif
$white: #f1faee
$footerGrey: rgba(57, 57, 57, 1)
$footerFontColor:rgba(57, 57, 57, 1)
$shadowDek: drop-shadow(8px -6px 0px #ADFF00)
$shadowMob: drop-shadow(4px -2px 0px #ADFF00)
$secondFont:'VT323', sans-serif
$green: rgba(173, 255, 0, 1)